
//Variables
$tint-color: #6d5fd1;
$black-primary: #1D2025;
$black-secondary: #26292E;
$white-primary: #ffffff;


//Spacings
$s-size: 1.2rem; 
$m-size: 1.6rem; 
$l-size: 3.2rem; 
$xl-size: 4.8rem; 


//Radius 
$rad-button: 0.5rem;
$rad-inputs: 0.5rem;